{{ define "main" }}
<div class="flex justify-center">
  <div class="{{ .Params.PageType }}">
  <div>
    {{ .Content }}
  </div>
  <div class="flex flex-col gap-12 mt-4">
  {{ range .Pages }}
    {{ if ne .Params.ListItem false }}
    <div class="rounded-lg overflow-hidden hover:shadow-lg">
      <a class="text-gray-700" href="{{ .RelPermalink }}">
        <div class="flex flex-row gap-4">
          <div class="w-96">
            <img src="{{ .Params.Image }}" />
          </div>
          <div class="w-3/4">
            <div class="text-gray-700 text-2xl font-bold mb-4">{{ .LinkTitle }}</div>
            <div class="font-normal text-gray-700 dark:text-gray-200 pr-4">{{ .Summary }}...</div>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  {{ end }}
  </div>
</div>
{{ end }}
