@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*putting outside @layer so that these are always included*/
.article-page {
  @apply w-1/2;
}

.full-page {
  @apply w-full;
}

.headshot {
  @apply rounded-full;
  @apply overflow-hidden;
  @apply w-40;
  border: 4px solid #CAF4FF;
}

.headshot > img {
}

@layer base {
  html {
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply py-8;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply pt-8;
    @apply pb-4;
  }

  h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply pt-8;
    @apply pb-4;
  }

  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply pt-8;
    @apply pb-4;
  }

  h4 {
    @apply text-lg;
    @apply font-bold;
    @apply pt-8;
    @apply pb-4;
  }

  a {
    @apply text-blue-600 no-underline;
  }

  p {
    @apply pb-4;
  }

  ul {
    @apply list-disc;
    @apply pl-8;
  }

  ol {
    @apply list-decimal;
    @apply pl-8;
  }

}
